<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">

<dom-module id="client-app">
  <template>
    <style>
      :host {
        display: flex;
        height: 100vh;
        flex-direction: column;
        overflow-y: hidden;
      }

      .finished {
        text-decoration: line-through;
        color: red;
      }

      h1 {
        text-align: center;
        font-family: 'Roboto', Helvetica, sans-serif;
        color: white;
      }

      header {
        text-align: center;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: #0990a6;
        padding: 10px;
      }

      main {
        flex: 1;
        overflow: auto;
        
      }
    </style>

    <iron-ajax auto url="/api/jobs" handle-as="json" last-response="{{jobsResponse}}"></iron-ajax>

    <header>
      <h1>Tasks</h1>
    </header>

    <main>
      <template is="dom-repeat" items="{{jobsResponse}}">
        [[_computeItem(item)]]
        <paper-item class="[[item._class]]" two-line>
  
          <paper-checkbox checked="{{item.status}}"></paper-checkbox>
  
          <paper-item-body>
            <h3 class="[[item._class]]">[[item.name]]</h3>
            <div secondary>[[item.description]]</div>
          </paper-item-body>
        </paper-item>
      </template>
    </main>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ClientApp extends Polymer.Element {
      static get is() { return 'client-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'client-app'
          }
        };
      }

      _computeItem(item) {
        console.log('Compute item');
        if (item.status) {
          item._class = 'finished';
        }
      }
    }

    window.customElements.define(ClientApp.is, ClientApp);
  </script>
</dom-module>