<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-slider/paper-slider.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-toast/paper-toast.html">

<dom-module id="feedback-app">
  <template>
    <style>
      :host {
        display: block;

      }

      paper-checkbox.red {
        --paper-checkbox-size: 2em;
        --paper-checkbox-checked-color: var(--paper-red-500);
        --paper-checkbox-checked-ink-color: var(--paper-red-500);
        --paper-checkbox-unchecked-color: var(--paper-red-900);
        --paper-checkbox-unchecked-ink-color: var(--paper-red-900);
        --paper-checkbox-label-color: var(--paper-red-500);
        --paper-checkbox-vertical-align: top;
        margin-left: 40px;
        display: block;
        font-size: 1.1em;

        max-width: auto;
      }

      header {
        text-align: center;
        font-family: 'Roboto', Helvetica, sans-serif;
        background-color: #0990a6;
        padding: 10px;
      }

      h1 {
        text-align: center;
        font-family: 'Roboto', Helvetica, sans-serif;
        color: white;
      }

      h2 {
        margin-left: 15px;
        font-size: 1.1em;
      }

      paper-button {
        margin: 0 auto;
        width: 30%;
        text-align: center;
        background: rgb(211, 211, 211);
        color: rgb(0, 0, 0);
        display: block;
        font-size: 16px;
        margin-top: 40px;
      }

      paper-input {
        margin-left: 15px;

      }

      paper_slider {
        margin-left: 10px;

      }
    </style>

    <!-- ################################# -->
    <!-- Header -->
    <header>
      <h1>FeedbackApp</h1>
    </header>

    <!-- 'Input Eingaben -->
    <paper-input id="building" label="Gebäude"></paper-input>
    <paper-input id="room" label="Raum"></paper-input>
    <!-- Mülleimer Checkbox -->
    <h2>Mülleimer</h2>
    <paper-checkbox id="bin" class="red">
      <span class="subtitle">Mülleinmer entleeren</span>
    </paper-checkbox>

    <h2>Papiertücher</h2>
    <paper-checkbox id="paperTowel" class="red">
      <span class="subtitle">Pappiertücher leer</span>
    </paper-checkbox>

    <h2>Boden</h2>
    <paper-checkbox id="floor" class="red">
      <span class="subtitle">Boden dreckig</span>
    </paper-checkbox>

    <!-- Slider -->
    <div>Ratings:</div>
    <paper-slider id="slider"  pin snaps maxmarkers="10" min="0" max="10"></paper-slider>
    <!-- Daten senden -->
    <paper-button on-tap="_onBtnSend">
      <iron-icon id="sentbutton" icon="icons:arrow-forward" on-click="_changeText"></iron-icon>
      senden
    </paper-button>

    
    <paper-toast id="toast" text="Ein neuer Job wurde hinzugefügt"></paper-toast>
    
  </template>
  <!-- ##################################### -->
  <script>
    /**
     * @customElement
     * @polymer
     */
    class FeedbackApp extends Polymer.Element {
      static get is() { return 'feedback-app'; }
      static get properties() {
        return {
        };
      }

      _onBtnSend() {
        // Get the room_id
        let building = this.$.building.value;
        let room = this.$.room.value;

        // Get the data
        let bin = this.$.bin.checked;
        let paperTowel = this.$.paperTowel.checked;
        let floor = this.$.floor.checked;

        // Build send data
        let sendData = [];

        if (bin) {
          sendData.push({ name: 'Mülleimer', description: 'Mülleimer entleeren', room_id: 1, priority: 0, status: false });
        }

        if (paperTowel) {
          sendData.push({ name: 'Papierhandtücher', description: 'Papierhandtücher auffüllen', room_id: 1, priority: 0, status: false });
        }

        if (floor) {
          sendData.push({ name: 'Boden', description: 'Boden reinigen', room_id: 1, priority: 0, status: false });
        }

        for (let i = 0; i < sendData.length; i++) {
          let data = sendData[i];

          let ajax = document.createElement('iron-ajax');
          ajax.method = 'put';
          ajax.url = '/api/jobs';
          ajax.body = JSON.stringify(data);
          ajax.generateRequest();
        }

        // Clear data
        this.$.building.value = '';
        this.$.room.value = '';

        this.$.bin.checked = false;
        this.$.paperTowel.checked = false;
        this.$.floor.checked = false;

        // Trigger toast
        this.$.toast.open();
      }
    }


    window.customElements.define(FeedbackApp.is, FeedbackApp);
  </script>
</dom-module>